.less {
  out: "css/main.css";
  compress: true;
}
.navbar-right {
  margin-right: 0px !important;
}
#header .navbar {
  border-radius: 0px;
  margin-top: -5px;
  border-bottom: 1px solid #bbb;
  box-shadow: 0px 2px 15px #999;
  box-shadow: 0px -2px 15px #333333;
}
.right-sidebar {
  border-left: solid 1px #999;
  padding-bottom: 200px;
}
.red {
  color: #ff2e27;
}
.blue {
  color: #4032e8;
}
.green {
  color: #0e8a2f;
}
.yellow {
  color: #e8c243;
}
.light-green {
  color: #37ffa8;
}
.lightgrey {
  color: #ebebeb;
}
.greytext {
  color: #808080;
}
#footer {
  background-color: #ebebeb;
  color: #808080;
  padding: 30px;
  margin-top: 100px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  height: 100px;
}
#content {
  min-height: 100%;
  padding-bottom: 120px;
}
#wrapper {
  min-height: 100%;
  position: relative;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.logo {
  padding-top: 150px;
  background-image: url('../img/bg3.jpg');
  background-position: center -200px;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-bottom: 80px;
}
.aboutblock {
  margin-bottom: 50px;
}
