body {
  background-color: #f5f5f5;
  line-height: 1.5;
  font-family: Ubuntu, Arial, sans-serif;
  color: #222;
  font-size: 13pt;
  padding: 0;
  margin: 0; }

h1, h2, h3, h4, h5 {
  font-family: Inconsolata, Ubuntu Mono, Courier, monospace;
  margin-bottom: 3px;
  color: #333; }

h1 {
  font-size: 22pt; }

h2 {
  font-size: 20pt; }

h3 {
  font-size: 18pt; }

h4 {
  font-size: 15pt; }

a {
  color: #fe5020; }

blockquote {
  font-weight: bold;
  color: #4d4d4d; }

blockquote > p:before {
  content: open-quote;
  font-size: 16pt; }

blockquote > p:after {
  content: close-quote;
  font-size: 11pt; }

blockquote > p:after {
  content: close-quote;
  font-size: 11pt; }

.feed-link {
  margin-top: 25px;
  display: block;
  border-top: solid 1px #222;
  padding-top: 13px; }

header {
  margin-bottom: 20px;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa; }
  header nav ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0; }
    header nav ul li {
      width: 60px;
      display: inline;
      padding: 7px; }
      header nav ul li a {
        text-decoration: none; }
    header nav ul li:hover {
      background-color: #999;
      /* box-shadow: 0px 0px 5px #555; */ }
      header nav ul li:hover a {
        color: white; }

.window {
  margin: 15px;
  padding: 10px; }
  @media screen and (max-width: 400px) {
    .window {
      width: 100%;
      margin: 0px; } }

#logo {
  font-size: 42px;
  color: #fe5423;
  text-align: left;
  margin-top: 50px;
  text-align: center;
  width: 100%; }
  #logo img {
    width: 800px; }
    @media screen and (max-width: 1350px) {
      #logo img {
        width: 600px; } }
    @media screen and (max-width: 1000px) {
      #logo img {
        width: 400px; } }
    @media screen and (max-width: 600px) {
      #logo img {
        width: 380px; } }
    @media screen and (max-width: 400px) {
      #logo img {
        width: 260px; } }
  @media screen and (max-width: 400px) {
    #logo {
      padding: 0; } }

.blogpost {
  margin-top: 5px; }

.separator {
  width: 60%;
  color: #222;
  margin: 25px auto; }

footer {
  text-align: center;
  background-color: #fafafa;
  box-shadow: inset 0 7px 15px -7px #222;
  color: #777;
  padding: 45px 0;
  margin-top: 50px;
  bottom: 0;
  width: 100%; }

.pagination {
  margin: 15px auto;
  font-weight: bold; }

.wrapper {
  width: 100%; }

.wrapper-dark {
  background-color: #181818;
  color: #eee;
  padding: 5px 0;
  box-shadow: 0px 0px 15px #181818;
  margin: 50px auto; }
  .wrapper-dark h1, .wrapper-dark h2, .wrapper-dark h3, .wrapper-dark h4, .wrapper-dark h5 {
    color: #ddd; }

.container {
  margin-left: auto;
  margin-right: auto;
  width: 850px; }
  @media screen and (max-width: 1000px) {
    .container {
      width: 600px; } }
  @media screen and (max-width: 600px) {
    .container {
      width: 400px; } }
  @media screen and (max-width: 400px) {
    .container {
      width: 95%; } }

.new_post .title {
  border: none;
  border-bottom: solid 1px #222;
  background: none;
  font-size: 20pt;
  font-weight: bold;
  display: block;
  margin-top: 27px; }

.new_post .text {
  border: none;
  /* border-top: solid 1px #222; */
  /* border-bottom: solid 1px #222; */
  margin: 5px;
  margin-top: 23px;
  padding: 7px;
  background: #ededed;
  width: 90%;
  min-height: 150px;
  height: 100%; }

.new_post #preview-text {
  min-height: 150px;
  margin-top: 25px; }

.new_post em {
  display: block;
  margin-bottom: 11px; }

.new_post input[type=submit] {
  display: block;
  background: #e8e8e8;
  padding: 5px 11px;
  margin: 5px;
  border: none; }
  .new_post input[type=submit]:hover {
    background: #181818;
    color: #eee; }

.new_post select {
  background: #ededed;
  padding: 0px;
  margin: 5px 7px;
  border: none;
  width: 100%;
  height: 43px; }
  .new_post select option {
    background: #d9d9d9;
    padding: 11px;
    display: inline-block; }
    .new_post select option:checked {
      background: #181818;
      color: #eee; }
