body {
    background-color: #fafafa;
    line-height: 1.5;
    font-family: Ubuntu, Arial, Sans, sans-serif;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 850px;
}

h1,h2,h3,h4,h5 {
    font-family: serif;
}

p,li,a,ul {
    font-size: 13pt;
}

h1 {
    font-size: 22pt;
    color: #666;
    margin-bottom: 3px;
}

h2 {
    font-size: 20pt;
    color: #555;
}

h3 {
    font-size: 18pt;
    color: #444;
    margin-bottom: 3px;
}

h4 {
    font-size: 15pt;
    margin-bottom: 3px;
}

blockquote {
    font-weight: bold;
    color: #999;
}

blockquote>p:before {
    content: open-quote;
    font-size: 16pt;
}

blockquote>p:after {
    content: close-quote;
    font-size: 11pt;
}

#header {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: #666;
}

a {
    font-weight: bold;
    color: #fe5020;
}

#header {
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.space_left {
    margin-left: 25%;
}

header>nav>ul {
    list-style-type: none;
    margin-left: 10px;
    padding: 0;
}

header>nav>ul>li {
    width: 60px;
    display: inline;
    padding: 7px;
}

header>nav>ul>li:hover {
    background-color: #aaa;
}

header>nav>ul>li:hover>a {
    color: #fff;
}

header>nav>ul>li>a {
    text-decoration: none;
}

.window {
    //border: 2px solid #222;
    color: #333;
    margin: 15px;
    padding: 10px;
}

#logo {
    font-size: 42px;
    color: #fe5423;
    text-align: left;
    margin-top: 50px;
    text-align: center;
    width: 100%;
}

#logo>img {
    width: 800px;
}

@media screen and (max-width: 1350px) {
    #logo>img {
	width: 600px;
    }
}

@media screen and (max-width: 1000px) {

    #wrapper {
	width: 600px;
    }
    
    #logo>img {
	width: 400px;
    }
}

@media screen and (max-width: 600px) {

    #wrapper {
	width: 400px;
    }

    #logo>img {
	width: 380px;
    }
    
}

@media screen and (max-width: 400px) {
    #wrapper {
	width: 95%;
    }
    
    #logo {
	padding: 0;
    }
    
    #logo>img {
	width: 260px;
    }

    .window {
	margin: 0px;
	width: 100%;
    }
}

.blogpost>h3 {
    margin-top: 5px;
}