{% load staticfiles markdown_deux_tags %}
{% filter markdown %}

### About Northcode

We are a small programming and software group situated in norway and switzerland.
We do mostly programming in c#, python and web.

Our original projects were this website and a version manager for Minecraft.
One of our biggest projects to date is [cobalt vault](https://cobaltvault.no),
which is a user content sharing site for the game [cobalt](http://playcobalt.com).

#### Out members
* Founder, Andreas (aliases: Northcode, AnLa061095, [Northcodedotno](https://www.youtube.com/user/northcodedotno"), [@NorthcodeDotNo](https://twitter.com/NorthcodeDotNo))
* Programmer, Jens (aliases: Northcode, Jenjen1324, NorthcodeCh)



### Andreas
#### What I do:
* Web development on [northcode.no](https://northcode.no)
* Making hobby projects in various languages such as [a python podcatcher](https://github.com/Northcode/pypodder), you can find most of them on my [github](https://github.com/Northcode)
* Making websites for people and organisations, such as [eskelan.com](http://eskelan.com)
* Linux server maintenance
* I taught python programming at a local high school
* Just finished 2 semesters of being a student assistant at my uni, teaching php and Linux.


#### My education
Most of my knowledge about all things computing is self taught from the internet, as the schools I've gone to have had no computer or programming courses.
I am now (2016) attending first year of university at a bachelors degree in computer engineering at [The Arctic University of Norway, campus Narvik](https://en.uit.no/).  
Most of my skills currently are as follows:  

* 6 years experience in c# programming, dealing mostly with native .net framework and mono.  
* 5 years of html,css and php programming. I prefer writing pages in python now however  
* A few years on and off with c++  
* About a year and a half of django experience  
* About 5 years of Linux experience, running servers and workstations, in Ubuntu, Debian, and Arch Linux

#### Misc random stuff about me
As a resident of the frozen wastes of Norway, I enjoy skiing and snowboarding, both cross country and down-hill, as well as hiking in the summer.  
I've grown to love tea a lot, and can often be seen either drinking or making tea.  
I play piano whenever I feel like it, I didn't say I was any good, but I like it.  
My favourite band is Coldplay, but I listen to most things from Metal to Hip Hop, [follow me on soundcloud](https://soundcloud.com/andreas-larsen-14) to see more of what I like.  


### Jens

#### Education
Currently attending school for computing at [Kantonsschule Hottingen in Zürich](http://ksh.ch) with favourite subjects being IT, Math, Physics and English.  
Lots of self taught skills about computing.  
Can speak multiple languages including Norwegian, English, German and a little French.  

#### Projects
* [Cobalt Vault](https://cobaltvault.no) The official user content hosting site for the game [Cobalt](http://playcobalt.com)  
* An android app for the school intranet at Kantonsschule Hottingen.  
* Schüler Office - an organization program for teachers, made as an end of school project  
* Random hobby projects at [GitHub](https://github.com/Jenjen1324)  

#### Misc info
Half-Norwegian, Half-swiss.  
Hobbies include Ju-Jitsu, Hiking, Mountain Climbing and Down-hill Skiing.

{% endfilter %}
