{% extends 'blog/index.html' %}
{% load staticfiles %}
{% block content %}

<h3>About Northcode</h3>

<p>We are a small programming and software group situated in norway and switzerland. </p>
<p>We do mostly programming in c#, python and web.</p>
<p>
	Our original projects where this website and a version manager for Minecraft.
	One of our biggest projects to date is <a href="https://cobaltvault.no">cobalt vault</a>,
	which is a user content sharing site for the game <a href="http://playcobalt.com">cobalt</a>.
</p>


<h4>Our members</h4>
<ul>
	<li>Founder, Andreas (aliases: Northcode, AnLa061095, <a href="https://www.youtube.com/user/northcodedotno">Northcodedotno</a>, <a href="https://twitter.com/NorthcodeDotNo">@NorthcodeDotNo</a>)</li>
	<li>Programmer, Jens (aliases: Northcode, Jenjen1324, NorthcodeCh)</li>
</ul>
<br/>


<h3>Andreas</h3>
<h4>What I do:</h4>
<ul>
	<li>Web development on <a href="https://northcode.no">northcode.no</a></li>
	<li>Making hobby projects in various languages such as <a href="https://github.com/Northcode/pypodder">a python podcatcher</a>, you can find most of them on my <a href="https://github.com/Northcode">github</a></li>
	<li>Making websites for people and organisations, such as <a href="http://eskelan.com">eskelan.com</a></li>
	<li>Linux server maintenance</li>
	<li>Currently teaching python programming at a local high school</li>
</ul>
<h4>My education</h4>
<p>
	Most of my knowledge about all things computing is self taught from the internet, as the schools I've gone to have had no computer or programming courses.
	I am now (2016) attending first year of university at a bachelors degree in computer engineering at <a href="https://en.uit.no/">The Arctic University of Norway, campus Narvik</a>.
</p>
<p>
	Most of my skills currently are as follows:
	<ul>
		<li>6 years experience in c# programming, dealing mostly with native .net framework and mono.</li>
		<li>5 years of html,css and php programming. I prefer writing pages in python now however</li>
		<li>A few years on and off with c++</li>
		<li>About 3 months of django experience</li>
		<li>3-4 years of Linux experience, running servers and workstations, in Ubuntu Linux and Arch Linux</li>
	</ul>
</p>
<h4>Misc random stuff about me</h4>
<p>
	As a resident of the frozen wastes of Norway, I enjoy skiing and snowboarding, both cross country and down-hill, as well as hiking in the summer.<br/>
	I've grown to love tea a lot, and can often be seen either drinking or making tea.<br/>
	I play piano whenever I feel like it, I didn't say I was any good, but I like it.<br/>
	My favourite band is Coldplay, but I listen to most things from Metal to Hip Hop, <a href="https://soundcloud.com/andreas-larsen-14">follow me on soundcloud</a> to see more of what I like.<br/>
</p>

<h3>Jens</h3>
<h4>Education</h4>
<p>
	Currently attending school for computing at <a href="ksh.ch">Kantonsschule Hottingen in Zürich</a> with favourite subjects being IT, Math, Physics and English.<br/>
	Lots of self taught skills about computing.<br/>
	Can speak multiple languages including Norwegian, English, German and a little French.<br/>
</p>
<h4>Projects</h4>
<ul>
	<li><a href="https://cobaltvault.no">Cobalt Vault</a> The official user content hosting site for the game <a href="http://playcobalt.com">Cobalt</a></li>
	<li>An android app for the school intranet at Kantonsschule Hottingen.</li>
	<li>Schüler Office - an organization program for teachers, made as an end of school project</li>
	<li>Random hobby projects at <a href="https://github.com/Jenjen1324">GitHub</a></li>
</ul>
<h4>Misc info</h4>
<p>
	Half-Norwegian, Half-swiss.<br/>
	Hobbies include Ju-Jitsu, Hiking, Mountain Climbing and Down-hill Skiing.
</p>
{% endblock %}
