{% extends 'blog/index.html' %}
{% load staticfiles %}
{% block content %}

<h3>Where to reach us</h3>
<h4>Email</h4>
<p>
Andreas: <a href="mailto: andreas@northcode.no">andreas@northcode.no</a><br/>
Jens: <a href="mailto: jens@northcode.no">jens@northcode.no</a><br/>
Website email (for bugs and support): <a href="mailto: contact@northcode.no">contact@northcode.no</a><br/>
</p>
<h4>Telegram</h4>
<p>
	Andreas <a href="https://telegram.me/NorthcodeNo">@NorthcodeNo</a><br/>
	Jens <a href="https://telegram.me/Northcode_Jens">@Northcode_Jens</a>
</p>
{% endblock %}
