{% extends 'blog/index.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'gallery.css' %}" />
{% endblock %}
{% block content %}
<div class="wrapper wrapper-light">
    <div class=container>
	<section id="gallery">
	    {% for image in images %}
	    <h4>{{image.title}}</h4>
	    <a href="{{ image.path.url }}"><img src="{{ image.path|thumbnail_url:'medium' }}" alt="{{ image.title }}" /></a><br/>
	    <em>Uploaded on: {{ image.uploaded_on }}</em>
	    {% endfor %}

	    <div class=pagination>
		{% if is_paginated %}
		{% if page_obj.has_previous %}
		<a href="{% url 'gallery' %}?page={{ page_obj.previous_page_number }}">&lt;</a>
		{% endif %}
		<span>Currently on page: {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
		{% if page_obj.has_next %}
		<a href="{% url 'gallery' %}?page={{ page_obj.next_page_number }}">&gt;</a>
		{% endif %}
		{% endif %}
	    </div>
	</section>
    </div>
</div>
{% endblock %}
