{% extends 'blog/index.html' %}
{% load staticfiles %}
{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}" />
{% endblock %}
{% block header %}{% endblock %}
{% block content %}
<section id="login">
    <h3>Login</h3>
    <form action="{% url 'login' %}">
	<input type="text" name="username" placeholder="Username" />
	<input type="password" name="password" placeholder="Password" />
	<input type="submit" value="Login" />
    </form>
    <a href="{% url 'password_reset' %}">Forgot your password?</a>
</section>
{% endblock %}
